{% extends 'index.html' %}
{% block body %}

<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">

<h1>API Endpoint</h1>
<p>The Book Catalog API endpoint is for the developer's who wants to create a web app related to books categories or their details. The database of this API is updated frequently so developer's can get latest informations.</p>
<h2>Endpoint URL's</h2>
<ul>
<li>Catalog.json - <code>http://localhost:5000/API/catalog.json</code></li>
<li>Category.json - <code>http://localhost:5000/API/catalog/category.json</code></li>
<li>Category Items.json - <code>http://localhost:5000/API/&lt;string:category&gt;/items.json</code></li>
</ul>
<h3>Parameters</h3>
<ul>
<li><strong>api_key</strong> <br>
<em>Datatype</em> : string<br>
A set of random string which user can get from <a href="http://localhost:5000/API">Book Catalog API</a> by logging in and generating the API key. <strong>api_key</strong> is required for all API request.</li>
<li><strong>category</strong><br>
<em>Datatype</em> : string<br>
Book category which user can get from <a href="http://localhost:5000/">Book Category</a> or by sending a API request to Book Category API.</li>
</ul>
<h3>Request</h3>
<p>User has to send <strong>GET</strong> request to access API</p>

<h2>Response Format</h2>
<ul>
<li>For <strong>http://localhost:5000/API/catalog.json?api_key=api_key</strong></li>
<p><code id="catalog_json"></code></p>

<li>For <strong>http://localhost:5000/API/catalog/category.json?api_key=api_key</strong></li>
<p><code id="category_json"></code></p>

<li>For <strong>http://localhost:5000/API/Paperback+Nonfiction/items.json?api_key=api_key</strong></li>
<p><code id="items_json"></code></p>
</ul>



<h4>Error Response</h4>
<ul>
<li>For wrong API key</li>
<p><code id="wrong_api"></code></p>

<li>For wrong category</li>
<p><code id="wrong_category"></code></p>
</ul>



<h3>Access via Python code</h3>
<p><code><br>
&nbsp;import requests<br>
&nbsp;api_key = 'Your-API-KEY'<br>
&nbsp;requests.get('http://localhost:5000/API/catalog.json', params={'api_key':api_key}).json()
</code>
</p>

</div>
</div>



<script src="{{ url_for('static', filename='js/api_doc.js') }}" type="text/javascript">

</script>

{% endblock %}