{% extends 'index.html' %}
{% block body %}
<div class="row">
	<div class="col-md-12 text-center">
		<h3>Login</h3>
	</div>
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form method="POST">
			<input type='hidden' name='state' value='{{ STATE }}' />
			<label>Email:</label>
			<input class="form-control" id="email" type="text" name="email"><br>

			<label>Password:</label>
			<input class="form-control" id="pwd" type="password" name="password"><br>

			<p style="color: red;display:none;" >* Invalid username or password</p>
			<input class="btn btn-default" type="submit" name="Login" value="Login">
		</form>



		<h5 class="text-center"><strong>OR</strong></h5>


		<div class="row">
			<div class="col-md-6" id="signinButton">
				<span class="g-signin"
					data-scope="openid email"
					data-clientid="186601709381-8ju1gc3e2v7lube266nn1hrgrmqtunvr.apps.googleusercontent.com"
					data-redirecturi="postmessage"
					data-accesstype="offline"
					data-cookiepolicy="single_host_origin"
					data-callback="signInCallback"
					data-approvalprompt="force">
				</span>
	        </div>
	        <script type="text/javascript">
	        	function signInCallback(authResult) {
					if (authResult['code']) {
						// Hide the sign-in button now that the user is authorized
						$('#signinButton').attr('style', 'display: none');
						// Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
						$.ajax({
							type: 'POST',
							url: '/G_OAuth?state={{STATE}}',
							processData: false,
							data: authResult['code'],
							contentType: 'application/octet-stream; charset=utf-8',
							success: function(result) {
								// Handle or verify the server response if necessary.
								if (result) {
										setTimeout(function() {
										window.location.href = "/";
									}, 500);

								} else if (authResult['error']) {
									console.log('There was an error: ' + authResult['error']);
								} else {
									$('#result').html('Failed to make a server-side call. Check your configuration and console.');
								}
							}

						}); 
					} 
				}
	        </script>

	        <!-- Fb login -->
	        <div class="col-md-6" >
				<script>
					window.fbAsyncInit = function() {
						FB.init({
							appId      : '446167795788699',
							cookie     : true,
							xfbml      : true,
							version    : 'v2.8'
						});
						FB.AppEvents.logPageView();
					};

					(function(d, s, id){
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) {return;}
						js = d.createElement(s); js.id = id;
						js.src = "https://connect.facebook.net/en_US/sdk.js";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
					// Here we run a very simple test of the Graph API after login is
					// successful.  See statusChangeCallback() for when this call is made.
					function sendTokenToServer() {
						var access_token = FB.getAuthResponse()['accessToken'];
						console.log(access_token)
						console.log('Welcome!  Fetching your information.... ');
						FB.api('/me', function(response) {
						console.log('Successful login for: ' + response.name);
						$.ajax({
							type: 'POST',
							url: '/fb_OAuth?state={{STATE}}',
							processData: false,
							data: access_token,
							contentType: 'application/octet-stream; charset=utf-8',
							success: function(result) {
								// Handle or verify the server response if necessary.
								if (result) {
									setTimeout(function() {
									window.location.href = "/";
									}, 500);

								} else {
									$('#result').html('Failed to make a server-side call. Check your configuration and console.');
								}
							}

						});
						});
					}
				</script>
				<button>
					<fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
						<a href='javascript:sendTokenToServer()'>Login with Facebook</a>
					</fb:login-button>
				</button>
			</div>
	    </div>

	</div>
	<div class="col-md-4"></div>

{% endblock %}