{% extends 'index.html' %}
{% block body %}
<div class="row">
	<div class="col-md-12 text-center">
		<h3>Sign Up</h3>
	</div>
	<div class="col-md-2"></div>

	<div class="col-md-8">

		<form method="POST">
			<label>Name:</label>
			<input class="form-control" type="text" name="username"><br>

			<label>Email:</label>
			<input class="form-control" id="email" type="text" name="email"><br>

			<label>Password:</label>
			<input class="form-control" id="pwd" type="password" name="password"><br>

			<input class="btn btn-default" type="submit" name="Sign Up" value="Sign Up">
		</form>
	</div>
	<div class="col-md-2"></div>
</div>
{% endblock %}